
    <h3 class="card-title">{{controller.project.name}}</h4>

    <p>{{controller.project.description}}</h4>
    <div class="panel-group" ng-repeat="issue in controller.project.issues">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="card-title">{{issue.name}}</h4>
        </div>
        <div class="panel-body">
          <p>{{issue.description}}</p>
        </div>
        <div class="panel-footer">
          <p>Assigned to {{issue.assigned_to}}</p>
        </div>
    </div><!-- .panel-group -->
  </div>
</div>
<hr/>
<h3>Add an Issue</h3>
<hr/>
<form ng-submit="controller.addIssue(controller.newIssue)">
  <div class="form-group">
    <label>Name:</label>
    <input type="text" ng-model="controller.newIssue.name" class="form-control" />
  </div>
  <div class="form-group">
    <label>Description:</label>
    <textarea ng-model="controller.newIssue.description" class="form-control" />
    </textarea>
  </div>
  <div class="form-group">
    <label>Assigned to:</label>
    <input type="text" ng-model="controller.newIssue.assigned_to" class="form-control" />
  </div>
  <div class="form-group">
    <label>Due Date:</label>
    <input type="text" ng-model="controller.newIssue.due_date" class="form-control" />
  </div>
  <div class="form-group">
    <label>Page URL</label>
    <input type="text" ng-model="controller.newIssue.page_url" class="form-control" />
  </div>
  <button type="submit" class="btn btn-primary">Add Issue</button>
</form>
